@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Hero Start -->
<div class="section tech-hero-section-4" style="background-image: url(assets/images/bg/hero-4-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Hero Content Start -->
                <div class="hero-content">
                    <h3 class="sub-title" data-aos-delay="600" data-aos="fade-up">Optimal solution for it platform</h3>
                    <h2 class="title" data-aos="fade-up" data-aos-delay="800">We bring great Ideas to life</h2>
                    <p data-aos="fade-up" data-aos-delay="900">We provide the most responsive and functional IT design for companies and businesses worldwide.</p>
                    <div class="hero-btn" data-aos="fade-up" data-aos-delay="1000">
                        <a class="btn" href="#">Read More</a>
                    </div>
                </div>
                <!-- Hero Content End -->
            </div>
            <div class="col-md-6">
                <!-- Hero Image Start -->
                <div class="hero-images">
                    <div class="shape-1">
                        <img src="assets/images/hero-shape-4.png" alt="">
                    </div>
                    <div class="images">
                        <img src="assets/images/banner.png" alt="">
                    </div>
                </div>
                <!-- Hero Image ennd -->
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Features Start -->
<div class="section features-section-5">
    <div class="container">
        <div class="features-wrap-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <!-- Features Item Start -->
                    <div class="features-item" style="background-image: url(assets/images/bg/features-4-bg.jpg);">
                        <div class="features-icon">
                            <img src="assets/images/features-9.png" alt="">
                        </div>
                        <div class="features-text">
                            <h3 class="title">Faster and trusted grow solutions</h3>
                        </div>
                    </div>
                    <!-- Features Item End -->
                </div>
                <div class="col-lg-4 col-md-4">
                    <!-- Features Item Start -->
                    <div class="features-item" style="background-image: url(assets/images/bg/features-4-bg.jpg);">
                        <div class="features-icon">
                            <img src="assets/images/features-10.png" alt="">
                        </div>
                        <div class="features-text">
                            <h3 class="title">Strategy buildup for web software</h3>
                        </div>
                    </div>
                    <!-- Features Item End -->
                </div>
                <div class="col-lg-4 col-md-4">
                    <!-- Features Item Start -->
                    <div class="features-item" style="background-image: url(assets/images/bg/features-4-bg.jpg);">
                        <div class="features-icon">
                            <img src="assets/images/features-11.png" alt="">
                        </div>
                        <div class="features-text">
                            <h3 class="title">Innovative core with possibilities.</h3>
                        </div>
                    </div>
                    <!-- Features Item End -->
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Features End -->

<!-- About Start -->
<div class="section about-section-3 about-section-4 section-padding-02">
    <div class="container">
        <!-- About Wrap Start -->
        <div class="about-wrap">
            <div class="section-title text-center">
                <h3 class="sub-title">Who We Are</h3>
                <h2 class="title">We specialise in helping our customers digitise their business</h2>
            </div>
            <!-- About Content Wrap Start -->
            <div class="about-content-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <!-- About Thumb Wrap Start -->
                        <div class="about-thumb-wrap">
                            <div class="about-thumb-middle">
                                <img src="assets/images/about-1.jpg" alt="">
                            </div>
                            <div class="about-thumb-bottom">
                                <img src="assets/images/about-2.jpg" alt="">
                            </div>
                            <div class="about-thumb-small">
                                <img src="assets/images/about-sm-5.jpg" alt="">
                            </div>
                            <div class="about-thumb-shape">
                                <img src="assets/images/ab-shape.png" alt="">
                            </div>
                        </div>
                        <!-- About Thumb Wrap End -->
                    </div>
                    <div class="col-lg-6">
                        <!-- About Content Start -->
                        <div class="about-content">
                            <h3 class="title">Accelerate innovation with world-class tech teams We’ll match you to an entire remote technology</h3>
                            <p>Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance talent for all your software development needs.</p>
                            <div class="about-author-list">
                                <div class="about-list">
                                    <ul>
                                        <li><i class="fas fa-check"></i><a href="#">We always focus on technical excellence</a></li>
                                        <li><i class="fas fa-check"></i><a href="#">Wherever you’re going, we bring ideas and excitement</a></li>
                                        <li><i class="fas fa-check"></i><a href="#">We’re consultants, guides, and partners for brands</a></li>
                                    </ul>
                                </div>
                                <div class="about-author" style="display: none;">
                                    <div class="author-text">
                                        <h4 class="name">Mita Walker</h4>
                                        <span class="designation">CEO, Techmax</span>
                                    </div>
                                    <div class="author-sign">
                                        <img src="assets/images/sign-2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About Content End -->
                    </div>
                </div>
            </div>
            <!-- About Content Wrap End -->
        </div>
        <!-- About Wrap End -->
    </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="section features-section-3 features-section-4 features-section-6 section-padding" style="background-image: url(assets/images/bg//features-6-bg.jpg);">
    <div class="container">
        <!-- Features Wrap Start -->
        <div class="features-wrap-3">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title2">
                        <h2 class="title">We run all kinds of <span>IT services</span> that vow your success</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-6-btn">
                        <a class="btn" href="#">All Services</a>
                    </div>
                </div>
            </div>
            <div class="features-content-wrap">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <!-- Single Item Start -->
                        <div class="single-item">
                            <div class="features-icon">
                                <img src="assets/images/features-6.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">Web Development</h3>
                                <p>
                                    Accelerate growth with expert web development. We enhance your digital presence with high-performance solutions.
                                </p>
                            </div>
                        </div>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Single Item Start -->
                        <div class="single-item">
                            <div class="features-icon">
                                <img src="assets/images/features-1.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">AI / ML</h3>
                                <p>
                                    Leverage AI and ML to automate processes, enhance decision-making, and gain actionable insights to drive business growth.
                                </p>
                            </div>
                        </div>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Single Item Start -->
                        <div class="single-item">
                            <div class="features-icon">
                                <img src="assets/images/features-3.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">Data Security</h3>
                                <p>
                                    Safeguard your business with top-tier data security solutions, ensuring privacy, compliance, and protection from threats.
                                </p>
                            </div>
                        </div>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Single Item Start -->
                        <div class="single-item">
                            <div class="features-icon">
                                <img src="assets/images/features-2.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">Custom Software</h3>
                                <p>Build tailored software that transforms ideas into impactful technologies, driving business success. </p>
                            </div>
                        </div>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Single Item Start -->
                        <div class="single-item">
                            <div class="features-icon">
                                <img src="assets/images/features-7.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">SEO & Optimization</h3>
                                <p>Improve visibility and performance with SEO strategies that drive traffic and enhance user engagement.</p>
                            </div>
                        </div>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Single Item Start -->
                        <div class="single-item">
                            <div class="features-icon">
                                <img src="assets/images/features-8.png" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">App Development</h3>
                                <p>Build scalable, high-performance apps that drive innovation and meet business goals.</p>
                            </div>
                            <!-- Single Item End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features Wrap End -->
        </div>
    </div>
    <!-- Features End -->
    <br />
    <!-- Cta Start -->
    <div class="section cta-section-3 section-padding-03" style="background-image: url(assets/images/bg/counter-bg.jpg);">
        <div class="container">
            <!-- Cta Wrap Start -->
            <div class="cta-wrap-3">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="cta-content text-center">
                            <h2 class="title">Make a great project with us</h2>
                            <p>To make requests for further information, <a>Contact US</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cta Wrap End -->
        </div>
    </div>
    <!-- Cta End -->

    <!-- Testimonial Start -->
    <div class="section testimonial-section-6">
        <div class="container">
            <!-- Testimonial Wrap Start -->
            <div class="testimonial-wrap">
                <div class="row">
                    <div class="col-xl-6">
                        <!-- Testimonial Image Start -->
                        <div class="testimonial-img">
                            <img src="assets/images/testimonial/testi-5.png" alt="">
                        </div>
                        <!-- Testimonial Image End -->
                    </div>
                    <div class="col-xl-6">
                        <!-- Testimonial Content Wrap Start -->
                        <div class="testimonial-content-wrap">
                            <div class="section-title text-center">
                                <h2 class="title">Clients <span>Testimonial</span></h2>
                            </div>
                            <div class="testimonial-slider-wrap">
                                <div class="swiper-container testimonial-4-active">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Testimonial Start -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-quote">
                                                    <img src="assets/images/testimonial/quote-2.png" alt="">
                                                </div>
                                                <div class="testimonial-content">
                                                    <p>
                                                        <p class="testimonial-text">"The team at CodeStrix exceeded our expectations! They helped us streamline operations and their innovative approach truly transformed our business." </p>
                                                    </p>
                                                    <div class="testimonial-author" style="display: none;">
                                                        <h5 class="name">Mike Holder</h5>
                                                        <span class="designation">CEO, Harlond inc</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Testimonial Start -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-quote">
                                                    <img src="assets/images/testimonial/quote-2.png" alt="">
                                                </div>
                                                <div class="testimonial-content">
                                                    <p>
                                                        "CodeStrix Solutions provided us with an exceptional platform that boosted our business performance. Their attention to detail and commitment to delivering quality solutions is unmatched."
                                                    </p>
                                                    <div class="testimonial-author" style="display: none;">
                                                        <h5 class="name">Mike Holder</h5>
                                                        <span class="designation">CEO, Harlond inc</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial End -->
                                        </div>

                                        <div class="swiper-slide">
                                            <!-- Single Testimonial Start -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-quote">
                                                    <img src="assets/images/testimonial/quote-2.png" alt="">
                                                </div>
                                                <div class="testimonial-content">
                                                    <p>
                                                        "Working with CodeStrix Solutions was an absolute game-changer. Their cutting-edge solutions empowered our company to scale faster and meet customer needs more effectively."
                                                    </p>
                                                    <div class="testimonial-author" style="display: none;">
                                                        <h5 class="name">Mike Holder</h5>
                                                        <span class="designation">CEO, Harlond inc</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Testimonial Start -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-quote">
                                                    <img src="assets/images/testimonial/quote-2.png" alt="">
                                                </div>
                                                <div class="testimonial-content">
                                                    <p>
                                                        "We were struggling with outdated systems, but CodeStrix Solutions delivered an intuitive, modern platform that improved user engagement and streamlined our workflows."   
                                                    </p>
                                                    <div class="testimonial-author" style="display: none;">
                                                        <h5 class="name">Mike Holder</h5>
                                                        <span class="designation">CEO, Harlond inc</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial End -->
                                        </div>

                                        <div class="swiper-slide">
                                            <!-- Single Testimonial Start -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-quote">
                                                    <img src="assets/images/testimonial/quote-2.png" alt="">
                                                </div>
                                                <div class="testimonial-content">
                                                    <p>
                                                        "Our business has never been more efficient. Thanks to CodeStrix's innovative software, we now save time and resources while improving overall performance."
                                                    </p>
                                                    <div class="testimonial-author" style="display: none;">
                                                        <h5 class="name">Mike Holder</h5>
                                                        <span class="designation">CEO, Harlond inc</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial End -->
                                        </div>

                                    </div>

                                    <!-- Add Pagination -->
                                    <div class="testimonial-arrow swiper-button-next"></div>
                                    <div class="testimonial-arrow swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Content Wrap End -->
                    </div>
                </div>
            </div>
            <!-- Testimonial Wrap End -->
        </div>
    </div>
    <!-- Testimonial End -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-1">
            &nbsp;
        </div>
    </div>
    <!-- New Section added -->

    <div class="section features-section" style="background-image: url(assets/images/bg/features-bg.jpg);">
        <!-- Features Thumb Start -->
        <div class="features-thumb d-flex align-items-end">
            <div class="shape-1">
                <img src="assets/images/features-shape.png" alt="">
            </div>
            <div class="image">
                <img src="assets/images/features-img.png" alt="">
            </div>
        </div>
        <!-- Features Thumb End -->
        <div class="container">
            <!-- Features Wrap Start -->
            <div class="features-wrap">
                <div class="row">
                    <div class="col-xl-7 offset-xl-5">
                        <!-- Features Content Wrap Start -->
                        <div class="features-content-wrap">
                            <div class="section-title">
                                <h3 class="sub-title">Why Choose Us</h3>
                                <h2 class="title">We provide truly prominent IT solutions for your success</h2>
                            </div>
                            <!-- Features Content Start -->
                            <div class="features-content">
                                <ul>
                                    <!-- Features Item Start -->
                                    <li class="features-item">
                                        <div class="features-icon">
                                            <img src="assets/images/features-1.png" alt="">
                                        </div>
                                        <div class="features-text">
                                            <h3 class="title">Expert Team</h3>
                                            <p>Accelerate innovation with world-class tech teams</p>
                                        </div>
                                    </li>
                                    <!-- Features Item End -->
                                    <!-- Features Item Start -->
                                    <li class="features-item">
                                        <div class="features-icon">
                                            <img src="assets/images/features-2.png" alt="">
                                        </div>
                                        <div class="features-text">
                                            <h3 class="title">Quality Contro</h3>
                                            <p>Accelerate innovation with world-class tech teams</p>
                                        </div>
                                    </li>
                                    <!-- Features Item End -->
                                    <!-- Features Item Start -->
                                    <li class="features-item">
                                        <div class="features-icon">
                                            <img src="assets/images/features-3.png" alt="">
                                        </div>
                                        <div class="features-text">
                                            <h3 class="title">Integration</h3>
                                            <p>Accelerate innovation with world-class tech teams</p>
                                        </div>
                                    </li>
                                    <!-- Features Item End -->
                                    <!-- Features Item Start -->
                                    <li class="features-item">
                                        <div class="features-icon">
                                            <img src="assets/images/features-4.png" alt="">
                                        </div>
                                        <div class="features-text">
                                            <h3 class="title">24/7 Support</h3>
                                            <p>Accelerate innovation with world-class tech teams</p>
                                        </div>
                                    </li>
                                    <!-- Features Item End -->
                                </ul>
                                <div class="features-link">
                                    <p>This is only glimpse see <a href="#">All Features</a></p>
                                </div>
                            </div>
                            <!-- Features Content End -->
                        </div>
                        <!-- Features Content Wrap End -->
                    </div>
                </div>
            </div>
            <!-- Features Wrap End -->
        </div>
    </div>
    <!-- End of New Section-->
    <!-- Brand Logo Start -->
    <div class="section brand-section brand-section-4" style="display: none;">
        <div class="container">
            <!-- Brand Wrapper Start -->
            <div class="brand-wrapper section-padding text-center">
                <h3 class="brand-title">Step forward to become one of <span>49,494</span> successful clients </h3>

                <!-- Brand Active Start -->
                <div class="brand-active">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="assets/images/brand/brand-1.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="assets/images/brand/brand-2.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="assets/images/brand/brand-3.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="assets/images/brand/brand-4.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="assets/images/brand/brand-5.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="assets/images/brand/brand-2.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                        </div>
                    </div>
                </div>
                <!-- Brand Active End -->
            </div>
            <!-- Brand Wrapper End -->
        </div>
    </div>
    <!-- Brand Logo End -->

    <!-- Blog Start -->
    <div class="section blog-section blog-section-3 section-padding" style="display: none;">
        <div class="container">
            <!-- Blog Wrap Start -->
            <div class="blog-wrap">
                <div class="section-title text-center">
                    <h3 class="sub-title">News & Blog</h3>
                    <h2 class="title">Trending article & stories</h2>
                </div>
                <!-- Blog Content Wrap Start -->
                <div class="blog-content-wrap">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/l-blog-1.jpg" alt=""></a>
                                    <div class="top-meta">
                                        <span class="date"><span>08</span>Aug</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <span><i class="fas fa-user"></i><a href="#">Andrew Paker</a></span>
                                        <span><i class="far fa-comments"></i>0 Comments</span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Who Needs Extract Value From Data?</a></h3>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/l-blog-2.jpg" alt=""></a>
                                    <div class="top-meta">
                                        <span class="date"><span>08</span>Aug</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <span><i class="fas fa-user"></i><a href="#">Andrew Paker</a></span>
                                        <span><i class="far fa-comments"></i>0 Comments</span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Who Needs Extract Value From Data?</a></h3>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/l-blog-3.jpg" alt=""></a>
                                    <div class="top-meta">
                                        <span class="date"><span>08</span>Aug</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <span><i class="fas fa-user"></i><a href="#">Andrew Paker</a></span>
                                        <span><i class="far fa-comments"></i>0 Comments</span>
                                    </div>
                                    <h3 class="title"><a href="blog-details.html">Who Needs Extract Value From Data?</a></h3>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>
                    </div>
                </div>
                <!-- Blog Content Wrap End -->
            </div>
            <!-- Blog Wrap End -->
        </div>
    </div>
    <!-- Blog End -->

    <!-- Subscribe Start -->
    <div class="section subscribe-section">
        <div class="container">
            <div class="subscribe-wrap" style="background-image: url(assets/images/bg/subscribe-bg.jpg);">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="subscribe-title text-center">
                            <h2 class="title">Subscribe Newsletters</h2>
                            <p>Enter your email address to register to our newsletter </p>
                        </div>
                        <form action="#">
                            <input type="email" placeholder="Your Email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->
